<launch>

  <!-- launch image selector -->
  <include file="$(find image_selection)/launch/select.launch" />

  <!-- launch truth publisher -->
  <!-- <include file="$(find gazebo_truth_odom)/launch/ground_truth.launch" /> -->

  <!-- launch evaluator -->
  <group ns="scout_1">
    <node pkg="wvu_vo_ros"
          name="evaluator_node"
          type="evaluator_node"
          output="screen">
    </node>

    <rosparam command="load" file="$(find wvu_vo_ros)/config/scout_parameters.yaml"/>

    <param name ="/use_sim_time" value="true"/>

  </group>



</launch>
