<launch>

  <!-- launch image selector -->
  <include file="$(find image_selection)/launch/selectHauler.launch" />

  <!-- launch vo -->
  <group ns="hauler_1">
    <node pkg="wvu_vo_ros"
          name="ros_stereo_vo_node"
          type="ros_stereo_vo_node"
          respawn= "true"
          output="screen">
    </node>

    <rosparam command="load" file="$(find wvu_vo_ros)/config/hauler_parameters.yaml"/>

    <param name ="/use_sim_time" value="true"/>

  </group>

</launch>
